<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create Your VERY OWN Todolist!</h1>
    <!-- sends get request to server using /login path from routes -->
    <a href="/login"> Login</a>
    <!-- sends get request to server using /signup path from routes -->
    <a href="/signup"> Signup</a>
</body>
</html>